.select {
    font-family: inherit;
    font-size: 0.75rem;
    border: none;
    border-bottom: 1px solid lightgray;
    padding: 5px 10px 5px 0px;
    cursor: pointer;
}

.select:active {
    border: none;
    border-bottom: 1px solid lightgray;
}

.select:focus {
    border: none;
    outline: none;
    border-bottom: 1px solid lightgray;
}
