.input-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input[type="text"] {
    font-family: "Montserrat", sans-serif;
    width: 228px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid lightgrey;
}

input:focus,
input:hover {
    outline: none;
}

input::placeholder {
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-weight: 400;
}
