.radio-wrapper {
    label {
        font-size: 13px;
        font-weight: 400;
    }
}

.radio-container {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.schedule-container {
    margin-left: 28px;
    margin-bottom: 25px;
}

.schedule-wrapper {
    width: calc(480px - 28px);
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.field-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input[type="radio"] {
    margin-right: 10px;
}
