.checkbox-group {
    width: 240px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.display-flex {
    display: flex;
    align-items: center;
}

input[type="checkbox"] {
    margin-right: 8px;
}

.checkbox-field-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 25px;
}

.field-wrapper {
    width: 480px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
